<div class="container d-flex flex-row mt-3">
  <% if can_go_to_previous_page?(@users, @page, @per_page) %>
    <%= link_to "←", users_path(page: (Integer(@page) - 1).to_s), class: "btn btn-primary mb-4 mr-1" %>
  <% else %>
    <%= link_to "←", users_path(page: (Integer(@page)).to_s), class: "btn btn-primary mb-4 disabled mr-1" %>
  <% end %>

  <% total_pages(@users, @per_page).times do |page| %>
    <% if page == @page %>
      <%= link_to page + 1, users_path(page: (Integer(page)).to_s), class: "btn btn-primary mb-4 mx-1" %>
    <% else %>
      <%= link_to page + 1, users_path(page: (Integer(page)).to_s), class: "btn btn-outline-primary mb-4 mx-1" %>
    <% end %>
  <% end %>

  <% if can_go_to_next_page?(@users, @page, @per_page) %>
    <%= link_to "→", users_path(page: (Integer(@page) + 1).to_s), class: "btn btn-primary mb-4 ml-1" %>
  <% else %>
    <%= link_to "→", users_path(page: (Integer(@page)).to_s), class: "btn btn-primary mb-4 disabled ml-1" %>
  <% end %>
</div>