<% provide(:title, "All users") %>
<div class="container d-flex justify-content-center mt-3">
  <div class="d-flex flex-column align-items-center">
    <h2>All Users in DB</h2>
    <%= render "users/arrows" %>
    <ol>
      <% @users_to_show.each do |user| %>
        <li class="list-group-item p-4 w-100" id="user-<%= user.id %>">
          <div class="container d-flex">
            <%= render user, class: "p-2" %>
            <div class="ml-auto p-2 mt-2 ml-3">
              <% if current_user.admin %>
                <%= button_to "Delete Account", user, method: :delete, class: "btn btn-info mb-4 text-white" %>
              <% end %>
            </div>
          </div>
        </li>
      <% end %>
    </ol>
    <%= render "users/arrows" %>
  </div>
</div>

