<% provide(:title, "@#{@user.username}") %>

<div class="container d-flex justify-content-center mt-3">
  <%= render "users/user", user: @user %>
</div>
<div class="container d-flex justify-content-center">
  <p><%= @user.bio %></p>
</div>
<div class="container d-flex justify-content-center">
  <% if @user == current_user %>
    <%= button_to "Edit Account", edit_user_path(@user), method: :get, class: "btn btn-info mr-2 text-white" %>
  <% end %>
</div>
<% if @user.microposts.any? %>
  <div class="container d-flex flex-column">
    <h3 class="ml-5">Microposts (<%= @user.microposts.count %>)</h3>
    <ol class="microposts">
      <%= render @microposts_to_show %>
    </ol>
    <div class="ml-4 align-center">
      <%= render "users/microposts_arrows" %>
    </div>
  </div>
<% end %>
