<% provide(:title, "@#{@user.username}") %>

<div class="container d-flex justify-content-center mt-3">

</div>
<div class="container d-flex  justify-content-center mt-3">
  <div class="d-flex flex-column align-items-center">
    <%= render @user %>
    <p><%= @user.bio %></p>

    <% if @user == current_user %>
      <%= link_to "Edit Account", edit_user_path(@user), class: "btn btn-info mr-2 text-white" %>
    <% end %>

    <% if @user.microposts.any? %>
      <%= render "users/arrows" %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <%= render @microposts_to_show %>
      <%= render "users/arrows" %>
    <% end %>
  </div>
</div>

