<li class="list-group-item w-100" id="micropost-<%= micropost.id %>">
  <div class="d-flex flex-row mb-2">
    <%= link_to gravatar_for(micropost.user, size: 60), micropost.user %>
    <div class="container d-flex flex-row">
      <div class="d-flex flex-column">
        <span class="user"><%= micropost.user.name %></span>
        <span class="user"><%= link_to "@#{micropost.user.username}", micropost.user %></span>
      </div>
    </div>
    <span class="timestamp text-nowrap">Posted <%= time_ago_in_words(micropost.created_at) %> ago</span>
  </div>
  <span class="content">
      <div class="d-flex flex-column">
    <%= image_tag micropost.image if micropost.image.attached? %>
        <%= micropost.content %>
      </div>
  </span>
  <div class="ml-auto mt-2">
    <% if current_user.admin || current_user?(micropost.user) %>
      <%= button_to "Delete", micropost, method: :delete, class: "btn btn-primary mb-4 text-white", data: { "turbo-method": :delete, "turbo-confirm": "Are you sure?" } %>
    <% end %>
  </div>
</li>